# Dependency directory
node_modules

# Editors
.vscode

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.ssh
**/*.map
**/*.js
tmp

# node-waf configuration
.lock-wscript

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release
dist

!webpack.common.js
!webpack.prod.js